
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


mat-grid-tile{
  font-size: 8em;
}
#one{
  background: #EF9A9A;
}

#two{
  background-color: #90CAF9;
}

#three{
  background-color: #80DEEA;
}

#five{
  background-color: #80CBC4;
}

#ten{
  background-color: #A5D6A7;
}

#twenty{
  background-color: #C5E1A5;
}


#one:hover{
  background: #EF5350;
}

#two:hover{
  background-color: #42A5F5;
}

#three:hover{
  background-color: #26C6DA;
}

#five:hover{
  background-color: #26A69A;
}

#ten:hover{
  background-color: #66BB6A;
}

#twenty:hover{
  background-color: #9CCC65;
}
