
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


mat-grid-tile{
  font-size: xx-large;
  font-weight: bolder;
}
#one{
  background: #EF9A9A;
}

#two{
  background-color: #90CAF9;
}

#three{
  background-color: #80DEEA;
}

#five{
  background-color: #A5D6A7;
}

#ten{
  background-color: #FFF59D;
}

#twenty{
  background-color: #FFCC80;
}


#one:hover{
  background: #EF5350;
}

#two:hover{
  background-color: #42A5F5;
}

#three:hover{
  background-color: #26C6DA;
}

#five:hover{
  background-color: #66BB6A;
}

#ten:hover{
  background-color: #FFEE58;

}

#twenty:hover{
  background-color: #FFA726;
}

.delete{
  color: #EF5350;
}

mat-list-item{
  cursor: pointer;
}
mat-list-item:hover{
  background-color: lightgray
}
